<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/bce86fac31.js" crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link rel="stylesheet" href="css/style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="js/js1.js" defer> </script>
</head>
<body style="background-color: rgb(20, 20, 20);">

    <nav id="navbar"class="navbar ">
        <div class="container-fluid" id="container-fluid">
          <a class="navbar-brand" href="#">
            <img class="netflix-logo"src="img/napster.png" alt="" width="180px;" height="60px">
          </a>
          <div  class="navigation-links-container">
            
            <div class="dropdown dropdown-browse">
              <button id="btn" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
               <span>
                Browse
               </span>     
               </button>
             <ul  class="dropdown-menu bg-dark ">
               <li><a class="dropdown-item text-light "href="">Movies</a></li>
               <li><a class="dropdown-item text-light"href="">New & Popular</a></li>
               <li><a class="dropdown-item text-light" href="">Home</a></li>
            </ul>
            </div>
            <ul  class="navigation-links">
              <li><a class="navigation-links" href="">Home</a></li>
              <li><a class="navigation-links"href="">Movies</a></li>
              <li><a class="navigation-links"href="">New & Popular</a></li>
            </ul>
          </div>
          
        </div>
        <nav id="navbar-searchbar" class="navbar -searchbar">
          <div class="container-fluid">
            <form class="d-flex" role="search">
              <!-- <input id="searchbar" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button id="search-btn" class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button> 
            -->
            <div class="search-box">
              <button class="btn-search" type="button"><i class="fas fa-search"></i></button>
              <input type="text" class="input-search" placeholder="Type to Search...">
            </div>

            </form>
          </div>
          <div class="dropdown ">
            <button id="btn" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user"></i>
            </button>
            <ul class="dropdown-menu bg-dark dropdown-menu-end">
              <li><a class="dropdown-item text-light " href="#">Action</a></li>
              <li><a class="dropdown-item text-light" href="#">Another action</a></li>
              <li><a class="dropdown-item text-light" href="#"><form action="/logout?_method=DELETE" method="post"><button type="submit">logout</button></form></a></li>
              <li></li>
            </ul>
          </div>
        </nav>
      </nav>

      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://imageservice.sky.com/pcms/cf5c3098-1fac-11ed-af47-63a0c92c2d31/LAND_16_9?territory=GB&proposition=NOWTV&language=eng" class="d-block w-100" alt="...">

          </div>
          <div class="carousel-item">
            <img src="https://wallpaperaccess.com/full/1457553.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://flxt.tmsimg.com/assets/p14899995_b_h10_ac.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://wallpapercave.com/wp/wp9201685.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.popspace.it/wp-content/uploads/2022/02/LOTR_-The-Ring-of-Power-mostrati-i-nuovi-personaggi-1.jpg" class="d-block w-100" alt="...">

          </div>
        </div>
    
      </div>

   
      <div class="container1">
        <h2>Popular On Netflix</h2>

        <div class="slider-container">

          <button class="handle prev">
            <div class="text">

            &#8249;
          </div> 
        </button>
          <button class="handle next">
            <div class="text">    
              &#8250;
            </div>
          </button>
       
       <div id ="slider"class="slider">

        <div id="card"class="card" style="width: 18rem;">
          <div class="image-container">
            <img class="card-img-top" src="https://woottoncommonsense.com/wp-content/uploads/2020/12/RgOWIjNBqW2ASCmQ3wuGb5GAYnDSRHd1EMipCwJI.jpeg" alt="Card image cap">
          </div>
          <h5 class="card-title">The Sea Beast</h5>
          
        </div>
        <div id="card" class="card" style="width: 18rem;">
          <div class="image-container">
          <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBLF74hREwopTTiBkhg-UA7YRHPuR9Nw1zDg&usqp=CAU" alt="Card image cap">
        </div>

            <h5 class="card-title">The Grey Man</h5>
          
          
        </div>
        <div id="card"class="card" style="width: 18rem;">
          <div class="image-container">
          <img class="card-img-top" src="https://woottoncommonsense.com/wp-content/uploads/2020/12/RgOWIjNBqW2ASCmQ3wuGb5GAYnDSRHd1EMipCwJI.jpeg" alt="Card image cap">
          </div>

            <h5 class="card-title">Extraction</h5>
            
          
        </div>
        <div id="card" class="card" style="width: 18rem;">
          <div class="image-container">
          <img class="card-img-top" src="https://www.dailypioneer.com/uploads/2022/story/images/big/-spider-man--no-way-home--extended-cut-to-play-in-theatres-from-september-2-2022-06-11.jpg" alt="Card image cap">
          </div>

            <h5 class="card-title">Spider-Man: No Way Home</h5>
 
          
        </div>
        <div id="card"class="card" style="width: 18rem;">
          <div class="image-container">
          <img class="card-img-top" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/1743829498B8989DD166774A0F087E820A0DAD173C1021CBC82090A860BE8A5C/scale?width=1200&aspectRatio=1.78&format=jpeg" alt="Card image cap">
          </div>

            <h5 class="card-title">Spider-Man: Into The Spider-Verse</h5>
           
        
        </div>

        <div id="card"class="card" style="width: 18rem;">
          <div class="image-container">
          <img class="card-img-top" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/1743829498B8989DD166774A0F087E820A0DAD173C1021CBC82090A860BE8A5C/scale?width=1200&aspectRatio=1.78&format=jpeg" alt="Card image cap">
          </div>

            <h5 class="card-title">Spider-Man: Into The Spider-Verse</h5>
           
          
        </div>

        <div id="card"class="card" style="width: 18rem;">
          <div class="image-container">
          <img class="card-img-top" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/1743829498B8989DD166774A0F087E820A0DAD173C1021CBC82090A860BE8A5C/scale?width=1200&aspectRatio=1.78&format=jpeg" alt="Card image cap">
          </div>

            <h5 class="card-title">Spider-Man: Into The Spider-Verse</h5>
           
          
        </div>

        <div id="card"class="card" style="width: 18rem;">
          <div class="image-container">
          <img class="card-img-top" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/1743829498B8989DD166774A0F087E820A0DAD173C1021CBC82090A860BE8A5C/scale?width=1200&aspectRatio=1.78&format=jpeg" alt="Card image cap">
          </div>

            <h5 class="card-title">Spider-Man: Into The Spider-Verse</h5>
           
          
        </div>
       </div>
      </div>

       <h2>Hollywood Movies</h2>
       <div class="slider-container">
   
          <button class="handle prev">
            <div class="text">

            &#8249;
          </div> 
        </button>
          <button class="handle next">
            <div class="text">    
              &#8250;
            </div>
          </button>
         <div class="slider">
  
   
             <svg class="next"> 
               <use href="#next"></use>
              </svg>
            </a>
  
          <div id="card" class="card" style="width: 18rem;">
            <div class="image-container">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzr6OipOkCwWDT9_zzVMnL3OEg8gu1QRIVog&usqp=CAU" alt="Card image cap">
            </div>
  
              <h5 class="card-title">Scoob!</h5>
              
             
            
          </div>
          <div id="card" class="card" style="width: 18rem;">
            <div class="image-container">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKKw-vmfbuRNf1dsXQrd8H32DXKE1ybOVPwpfdFOsiuP8YBTs7y2l9BZhco0BBn9ZfJWE&usqp=CAU" alt="Card image cap">
            </div>
  
              <h5 class="card-title">Madagascar</h5>
              
             
            
          </div>
          <div id="card" class="card" style="width: 18rem;">
            <div class="image-container">
            <img class="card-img-top" src="https://imgs.search.brave.com/tc99vgB55befzO9FNgeAjE-5I27yot6S3ADlb-1lDeA/rs:fit:300:450:1/g:ce/aHR0cHM6Ly92ZWdh/bW92aWVzLm1lbi93/cC1jb250ZW50L3Vw/bG9hZHMvMjAyMi8w/OS9CbG9uZGUtMjAy/Mi1wb3N0ZXIuanBn" alt="Card image cap">
            </div>
  
              <h5 class="card-title">Blonde</h5>
              
             
            
          </div>
          <div id="card" class="card" style="width: 18rem;">
            <div class="image-container">
            <img class="card-img-top" src="https://static-koimoi.akamaized.net/wp-content/new-galleries/2022/06/box-office-top-gun-maverick-has-a-fair-second-week-still-has-a-shot-at-30-crores-lifetime-in-india-001.jpg" alt="Card image cap">
            </div>
  
              <h5 class="card-title">Top Gun Maverick</h5>
              
             
           
          </div>
          <div id="card" class="card" style="width: 18rem;">
            <div class="image-container">
            <img class="card-img-top" src="https://occ-0-33-41.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABRb8Mh8BrnV73yrOsEKEgT6nYn8wk-noYB5ClJ0eLgh2BtoZNAlgWkuxqu6KV7vSrtweSkvhG-UZ0HGmORYweMKuIqJXPwcmZ9WJ.jpg?r=a06" alt="Card image cap">
            </div>
  
              <h5 class="card-title">Top Gun</h5>
              
             
           
          </div>
         </div>
       </div>

       <h2>Action & Adventure</h2>
       <div class="slider-container">
           
        <button class="handle prev">
          <div class="text">

          &#8249;
        </div> 
      </button>
        <button class="handle next">
          <div class="text">    
            &#8250;
          </div>
        </button>
        
         <div class="slider">
         
  
          <div id="card" class="card" style="width: 18rem;">
            <div class="image-container">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpNsZ2z3Oe5RnMM_nzMLiRBEiAk8BycDaAUes0QwnKqWaEQlhQelVVFkleMYrk4XFMEok&usqp=CAU" alt="Card image cap">
            </div>
  
              <h5 class="card-title">Enola Holmes</h5>
              
             
            
          </div>
          <div id="card" class="card" style="width: 18rem;">
            <div class="image-container">
            <img class="card-img-top" src="https://occ.a.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABTodgxU5-oPK2BgETQm7paT4gcJgDrIuCyViHwU5ebSZubiWhdCr0T1C8mQiBuXBavJ89AthuhrvY6lxQr7UE-PUQKOVCfbXVmV1Bq74KkxNWmyHEXeYjrYFES1vol3QC_3YPA.jpg?r=074" alt="Card image cap">
            </div>
  
              <h5 class="card-title">6 Underground</h5>
              
             
         
          </div>
          <div id="card" class="card" style="width: 18rem;">
            <div class="image-container">
            <img class="card-img-top" src="https://staticg.sportskeeda.com/editor/2022/01/74d3c-16426630332228-1920.jpg" alt="Card image cap">
            </div>
  
              <h5 class="card-title">Deadpool</h5>
              
             
            
          </div>
          <div id="card" class="card" style="width: 18rem;">
            <div class="image-container">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyL0U07tXQcWV9yVwgYmKsQv8bDJJHzMJzJA&usqp=CAU" alt="Card image cap">
            </div>
  
              <h5 class="card-title">Avatar</h5>
              
             
            
          </div>
          <div id="card"class="card" style="width: 18rem;">
            <div class="image-container">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmnLNcorbApz8y86igeRtGIMDTLRBZtUpuj_DlYcpzvTnpivIfSigeISRpG1SpdcsQF8g&usqp=CAU" alt="Card image cap">
            </div>
  
              <h5 class="card-title">Mad Max:Fury Road</h5>
              
             
            </div>
         
         </div>
      </div>

       <h2>Comedies</h2>
       <div class="slider-container">
           
        <button class="handle prev">
          <div class="text">

          &#8249;
        </div> 
      </button>
        <button class="handle next">
          <div class="text">    
            &#8250;
          </div>
        </button>
        
         <div class="slider">
        
          <div id="card"class="card" style="width: 18rem;">
            <div class="image-container">
            <img class="card-img-top" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/5DC8B129C79DC2F396701E92F10DC3B905C0C8F0E4C5764122F6F580F3446524/scale?width=1200&aspectRatio=1.78&format=jpeg" alt="Card image cap">
            </div>
  
              <h5 class="card-title">Free Guy</h5>
              
             
            
          </div>
          <div id="card"class="card" style="width: 18rem;">
            <div class="image-container">
            <img class="card-img-top" src="https://ceciiil.files.wordpress.com/2013/03/ted_posing-1024x745.jpg" alt="Card image cap">
            </div>
  
              <h5 class="card-title">Ted</h5>
              
             
            
          </div>
          <div id="card"class="card" style="width: 18rem;">
            <div class="image-container">
            <img class="card-img-top" src="https://dx35vtwkllhj9.cloudfront.net/universalstudios/minions-the-rise-of-gru/images/regions/us/share.jpg" alt="Card image cap">
            </div>
  
              <h5 class="card-title">Minions:The Rise Of Gru</h5>
              
             
           
          </div>
          <div id="card"class="card" style="width: 18rem;">
            <div class="image-container">
            <img class="card-img-top" src="https://i1.sndcdn.com/artworks-BxGfOy5Xm2JaLzYZ-jUAvww-t500x500.jpg" alt="Card image cap">
            
  </div>
              <h5 class="card-title">Super Pets</h5>
              
             
            
          </div>
          <div id="card"class="card" style="width: 18rem;">
            <div class="image-container">
            <img class="card-img-top" src="https://hbomax-images.warnermediacdn.com/images/GYFzu0gFVy1-8ogEAAASs/tileburnedin?size=1280x720&partner=hbomaxcom&v=64f5b85751a600f1d526da64428ffdf2&host=art-gallery.api.hbo.com&language=en-us&w=1280" alt="Card image cap">
            </div>
  
              <h5 class="card-title">Jumanji:The Next Level</h5>
              
             
            
          </div>
         </div>
      </div>
      
       <h2>Sci-fi</h2>
       <div class="slider-container">
           
        <button class="handle prev">
          <div class="text">

          &#8249;
        </div> 
      </button>
        <button class="handle next">
          <div class="text">    
            &#8250;
          </div>
        </button>
         <div class="slider">
        
          <div id="card"class="card" style="width: 18rem;">
            <div class="image-container">
            <img class="card-img-top" src="https://eu-images.contentstack.com/v3/assets/bltcd74acc1d0a99f3a/blt3d42f74886f0563e/622248d87d6c6b5613685f43/the-adam-project-wide.jpeg" alt="Card image cap">
            </div>
  
              <h5 class="card-title">The Adam Project</h5>
              
             
        
          </div>
          <div id="card"class="card" style="width: 18rem;">
            <div class="image-container">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLrAjRyrISUdWpzhnYsSK2Zn8LghwTcO0hS3YWbJEpgN008lsIAoqpfBmCpSbMelt-TTc&usqp=CAU" alt="Card image cap">
            </div>
  
              <h5 class="card-title">Doctor Strange In The Multiverse Of Madness</h5>
              
             
            
          </div>
          <div id="card"class="card" style="width: 18rem;">
            <div class="image-container">
            <img class="card-img-top" src="https://cdn.mos.cms.futurecdn.net/QitSmU37B7MVaqMDuNMQud.jpg" alt="Card image cap">
            </div>
  
              <h5 class="card-title">Dune</h5>
              
             
           
          </div>
          <div id="card" class="card" style="width: 18rem;">
            <div class="image-container">
            <img class="card-img-top" src="https://static-koimoi.akamaized.net/wp-content/new-galleries/2021/07/the-tomorrow-war-movie-review-1.jpg" alt="Card image cap">
            </div>
  
              <h5 class="card-title">The Tomorrow War</h5>
              
             
            
          </div>
          <div id="card"class="card" style="width: 18rem;">
            <div class="image-container">
            <img class="card-img-top" src="https://www.denofgeek.com/wp-content/uploads/2013/06/322317.jpg?resize=768%2C432" alt="Card image cap">
            </div>
  
              <h5 class="card-title">Man Of Steel</h5>
              
             
           
          </div>
         </div>
      </div>
      
       <h2>New Releases</h2>
       <div class="slider-container">
           
        <button class="handle prev">
          <div class="text">

          &#8249;
        </div> 
      </button>
        <button class="handle next">
          <div class="text">    
            &#8250;
          </div>
        </button>
         <div class="slider">
        
          <div id="card"class="card" style="width: 18rem;">
            <div class="image-container">
            <img class="card-img-top" src="https://browsecat.net/sites/default/files/poster-of-the-matrix-resurrections-wallpapers-90562-777493-5976496.png" alt="Card image cap">
            </div>
  
              <h5 class="card-title">The Matrix Resurrections</h5>
              
             
            
          </div>
          <div id="card"class="card" style="width: 18rem;">
            <div class="image-container">
            <img class="card-img-top" src="https://images.thedirect.com/media/article_full/thor-love-and-thunder-reviews_M1wGSWk.jpg" alt="Card image cap">
            
            </div>
              <h5 class="card-title">Thor Love And Thunder</h5>
              
             
          
          </div>
          <div id="card"class="card" style="width: 18rem;">
            <div class="image-container">
            <img class="card-img-top" src="https://occ-0-2567-1360.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABWSptqIvsNIxKYFdFbDDZhIBJjKtjLXcdC6rsyh8tdn6YNAROG5Rv_8iVi_NrJmjU3MEG8eSlGBMEW-49868U4P8X84tmazRmLbd.jpg?r=00d" alt="Card image cap">
            </div>
  
              <h5 class="card-title">The Old Guard</h5>
              
             
          
          </div>
          <div id="card"class="card" style="width: 18rem;">
            <div class="image-container">
            <img class="card-img-top" src="https://gumlet.assettype.com/swarajya%2F2022-06%2Faa02958d-2e39-4c03-82b3-51b19358bd50%2Fdominion.jpg?auto=format%2Ccompress&w=400&dpr=2.6" alt="Card image cap">
            </div>
  
              <h5 class="card-title">Jurassic World:Dominion</h5>
              
             
          
          </div>
          <div id="card"class="card" style="width: 18rem;">
            <div class="image-container">
            <img class="card-img-top" src="https://occ-0-37-33.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABcJ-83l-a-IzFVy3GMtlDcHvziIY_pzOicT_PtMGQA6w9LZnm9T5WsRQnPgAIgYaXiKv4LNTyGNQxaol7nUs8bgAltcL7k92B477SCPY67MFrqeqX21yxTuQb-2OmzF1TREHXQ.jpg?r=766" alt="Card image cap">
            </div>
  
              <h5 class="card-title">Black Crab</h5>
              
             
            </div>
        
         </div>
      </div>
       </div>
    <!-- JavaScript Bundle with Popper -->
    <script>
    
      
    </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

  
    
<svg style="display: none">

  <symbol id="prev" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
    <path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 278.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/>
  </symbol>
  <symbol id="next" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
    <path d="M342.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L274.7 256 105.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/>
  </symbol>
</svg>

</body>
</html>