.step2logo-container{
background: url(https://assets.nflxext.com/ffe/siteui/acquisition/simplicity/Checkmark.png) no-repeat 50% 50%;
height: 100px;
}
#textcontainer{

  font-size: 1em;

}
.checkmark-group--icon{
  color: #e50914;
  padding-right: 15px;
  margin-top: 3px;
  float: left;
}
#sometext2{
text-align: left;
font-size: 1.3em;
padding: 10px;
margin:0 50px;
}
.card1{
  padding-top: 100px;
  display: flex;
    align-content: center;
    text-align: center;
    align-self: center;
    flex-direction: column;
    align-items: center;
}

@media (max-width:1500px){
  .card1{
    width: auto;
  }
  .card2{
    width: auto;
  }
 #textcontainer{
font-size: 1.7rem;
width: auto;
  }
  .sometext{
    font-size: 6rem;
  }
  #textcontainer #sometext2{
    font-size: 3rem;
    margin: 0%;
    
  }
  svg{
    width:50px ;
    height: 50px;
  }
  #textcontainer .sometext2{
    width: auto;
    margin: 0%;
  }
  .step2logo-container{
background-size: 180px;
padding-top: 100px;
  }
  .steplogotext{
    font-size: 3rem;
  }
  
  .card1{
    padding-top: 115px;
  }

}